.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
	@include breakpoint(phablet) {
		width: auto !important;
		margin-right: 0 !important;
	}
}

.wp-caption-text {
	text-align: center;
}
